@charset "utf-8";

html, body{
	background: rgba(220, 255, 220, 1);
}

h1{
	padding: .1em;
	padding-left: .3em;
	border-left: solid 6px rgba(0, 170, 0, 1);
	margin: .1em;
	margin-top: .3em;
}

#message_area{
	font-size:90%;
}
